.body
{
    margin:0px;
    padding:0px;
    background-color: #E8F0FF;
}

.title
{
    background-color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
    text-align: left; 
    font-style: normal; 
    font-variant: normal; 
    box-shadow: 3px 3px 5px;
    height: 30px
}

.container_h
{
    margin: 10px;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    flex-direction: row;
}

.container_v
{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    flex-direction: column;
}

.response_box
{
    float: right
}

.p1, .p2, .p3, .p4, .p5
{
    border: 0px solid;
}

.VSpace, HSpace
{
    border: 0px;
    float: left;
}

.p1
{
    float: left;
}

.p2
{
    float: right;
}

.p3
{
    float:left;
}
.p4
{
    overflow-y: auto;
    height: 200px;
}


.metricHead
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
    font-size: 14px; 
    text-align: center; 
    font-style: normal; 
    font-variant: normal; 
    color: grey;
}

.metricStat
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
    font-size: 40px; 
    text-align: center; 
    font-style: normal; 
    font-variant: normal; 
    padding-top: 40px;
}

.metricBox
{
    border-radius: 25px;
    background-color: white; 
    width: 200px; 
    height: 200px; 
    margin: auto; 
    font-size: 30px; 
    text-align: center; 
}

.submit {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.submit:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.submit:hover {
  background-color: #2c974b;
}

.submit:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.submit:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.submit:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.triangle-green {
	width: 0px;
	height: 0px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 28px solid green;
    display: flex;
    margin: 0 auto;
}

.triangle-red {
	width: 0px;
	height: 0px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 28px solid red;
    display: flex;
    margin: 0 auto;
}