<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Tracker</title>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.1.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.1.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.1.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.4.1.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.4.1.min.js"
        crossorigin="anonymous"></script>
        
    {{ script|safe }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    
</head> 
<body style="background-color: #d3d3d3;">
    <div class="title"> 
        Stock Portfolio Tracker
    </div>
    <form method="POST">
        <div class = "container">
            <div>
                <p>
                    Stock Ticker: <input type = "tick" name="tick"> 
                </p>
                
            </div>
            <div>
                <p>
                    Date <input type = "date" name="date"> 
                </p>
            </div>
            <div>
                <p>
                    Shares <input type = "shares" name="shares">
                </p>
                
            </div>

            <button type = "submit">Add Stock</button>
        </div>
    </form>
    <br>

    <div class="container">
        <div class="box">
            <div class="metricHead"> Portfolio Market Value: </div>
        </div>
        
        <div class="box">
            <div class="metricHead"> Unique Stocks: </div>
            <div class="metric"> 
                {{ marketVal }}
            </div>
        </div>
    
        <div class="box">
            <div class="metricHead"> Daily Change: </div>
        </div>
    </div>


    <h2>Total Profits Over Time:</h2>

    <div class="p1"> {{ line_div | safe }} </div>

    <div class="p2"> {{ varea | safe }} </div>


    {% for transaction in transactions %}
    <li>{{transaction}}</li>
    {% endfor %}   

</body>
</html>